In [17]:
import pandas as pd 
from typing import Dict, Optional, List

In [14]:
lotto = pd.read_csv("./output/merged_lotto.csv")
lotto_plus = pd.read_csv("./output/merged_lottoplus.csv")
mini_lotto = pd.read_csv("./output/mini_lotto.csv")

print(lotto)

        number        date            numbers  szostka_count  szostka_value  \
0           47  22-12-1957   8,15,24,27,37,46              0            0.0
1           46  15-12-1957   7,12,19,36,42,49              0            0.0
2           45  08-12-1957  11,17,24,35,42,47              0            0.0
3           44  01-12-1957    5,8,14,26,32,44              0            0.0
4           43  24-11-1957    2,6,18,20,40,49              0            0.0
...        ...         ...                ...            ...            ...
201003    6986  11-01-2024   2,13,17,26,34,38              0            0.0
201004    6985  09-01-2024   4,19,20,23,28,48              0            0.0
201005    6984  06-01-2024      2,5,8,9,30,42              0            0.0
201006    6983  04-01-2024  10,25,26,28,44,46              0            0.0
201007    6982  02-01-2024  15,18,28,30,37,49              0            0.0

        piatka_count  piatka_value  czworka_count  czworka_value  \
0                  0           0.0              0            0.0
1                  0           0.0              0            0.0
2                  0           0.0              0            0.0
3                  0           0.0              0            0.0
4                  0           0.0              0            0.0
...              ...           ...            ...            ...
201003            81        3846.3           3775           99.6
201004            44        6444.4           2869          153.4
201005            52        5356.9           3203           97.6
201006            41        6255.7           2181          232.5
201007            25        8708.2           1818          252.4

        trojka_count  trojka_value
0                  0           0.0
1                  0           0.0
2                  0           0.0
3                  0           0.0
4                  0           0.0
...              ...           ...
201003         62224          24.0
201004         52554          24.0
201005         56621          24.0
201006         42999          24.0
201007         35307          24.0

[201008 rows x 11 columns]

In [18]:
def get_all_numbers(dataset) -> List:
    all_numbers = []
    for numbers_str in dataset['numbers']:
        numbers_list = numbers_str.split(',')
        all_numbers.extend(map(int, numbers_list))
    
    return all_numbers

In [19]:


def get_most_common_numbers(dataset, num_results: int = 6) -> Dict[Optional[int], Optional[int]]:
    all_numbers = get_all_numbers(dataset)
    
    counts_df = pd.DataFrame(all_numbers, columns=['number']).groupby('number').size().reset_index(name='count')
    
    counts_df = counts_df.sort_values(by='count', ascending=False)
    
    return counts_df.head(num_results)

    number  count
16      17  26860
26      27  26593
33      34  26412
20      21  25988
30      31  25817
23      24  25709

In [22]:
lotto_common_numbers = get_most_common_numbers(lotto)
print(lotto_common_numbers)
# lotto_plus_common_numbers = get_most_common_numbers(lotto_plus)
# print(lotto_common_numbers)

    number  count
16      17  26860
26      27  26593
33      34  26412
20      21  25988
30      31  25817
23      24  25709
    number  count
20      21   9943
29      30   9834
16      17   9809
5        6   9628
27      28   9614
6        7   9546

In [23]:
mini_lotto_common_numbers = get_most_common_numbers(mini_lotto)
print(mini_lotto_common_numbers)

    number  count
20      21   9943
29      30   9834
16      17   9809
5        6   9628
27      28   9614
6        7   9546

In [26]:
 
def get_most_common_numbers_by_year(dataset, num_result: int = 6):
    dataset['year'] = pd.to_datetime(dataset['date'], format='%d-%m-%Y').dt.year
    
    result_df = pd.DataFrame(columns=['year', 'number', 'count'])
    
    for year, group in dataset.groupby('year'):
        all_numbers = []
        for numbers_str in group['numbers']:
            numbers_list = numbers_str.split(',')
            all_numbers.extend(map(int, numbers_list))
        
        counts_df = pd.DataFrame(all_numbers, columns=['number']).groupby('number').size().reset_index(name='count')
        counts_df = counts_df.sort_values(by='count', ascending=False)
        counts_df['year'] = year
        result_df = pd.concat([result_df, counts_df.head(num_result)])
    
    return result_df

In [28]:
lotto_most_common_numbers_by_year = get_most_common_numbers_by_year(lotto)
print(lotto_most_common_numbers_by_year)

    year number count
7   1957      8   680
18  1957     19   612
12  1957     13   612
31  1957     32   544
47  1957     48   544
..   ...    ...   ...
1   2024      2     9
25  2024     26     8
11  2024     12     8
43  2024     46     7
27  2024     28     7

[408 rows x 3 columns]

In [30]:
# lotto_plus_most_common_numbers_by_year = get_most_common_numbers_by_year(lotto_plus)
# print(lotto_plus_most_common_numbers_by_year)

KeyError: 'date'

In [29]:
mini_lotto_most_common_numbers_by_year = get_most_common_numbers_by_year(mini_lotto)
print(mini_lotto_most_common_numbers_by_year)

    year number count
25  1981     26   462
4   1981      5   462
33  1981     34   420
29  1981     30   378
14  1981     15   336
..   ...    ...   ...
40  2024     41    18
17  2024     18    18
27  2024     28    16
30  2024     31    15
25  2024     26    15

[258 rows x 3 columns]